@media screen and (max-width: 1000px)
{
    #navigation
    {  
        margin-right: 30%;  
       
   }
               
   #recherche
   {
       width: auto;
   }

   #filtre
   {
       flex-direction: column;
       justify-content: center;
   }
   .information
   {
       width: auto;
   }
    

   #conteneur
   {
       width: auto;
       height: auto;
       flex-direction: column-reverse;
   }
   #conteneur1
   {
       width: auto;
       height: auto;
       flex-direction: column;
       background-color: white;
       justify-content: space-around;
       align-items: center;
   }
   #conteneur2
   {
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
   }
   .entete .chart
   {
       margin-left: 50px;
   }
   .image1
   {
       
       
    
       
   }
   .image2
   {
    
    
   }
   .image3
   {
    
    
   }
   .affich
   {
    
    
   }
   .image5
   {
    
    
   }
   .image6
   {
    width: 80%;
    
   }
   .imagepop
   {
       width: 80%;
       height: auto;
   }
   #conteneur3
   {
       width: auto;
       height: auto;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
   }
   
  
   .foot
   {
       width: auto;
       height: auto;
       flex-direction: column;
       align-items: center;
   }











}