@media screen and (max-width: 1095px)
{
    .nav12
    {  
        margin-left: 400px; 
       
   }
   #conteneur
   {
      width: 100%;
      height: auto; 
        
   }
   #conteneur1
   {
     width: 70%;
     height: auto;                          
              
   }
   #conteneur2
   {
    
    width: 30%;
       
   }
   
   .image1, .image2, .image3, .affich, .image5, .image6
   {
     
    width: 150px;
    height: 200px;      
          
   }
   .image1 img, .image2 img, .image3 img, .affich img, .image5 img, .image6 img 
   {
       width: 150px;
       height: 80px;
   }
  
}
@media screen and (max-width: 978px)
{
    .filtre1
    {
        display: flex;
        flex-direction: row;
        
    }
    .filtre2
    {
        display: flex;
        flex-direction: column;
    }
    #filtre
    {
        
    }
    #conteneur
    {
        flex-direction: column-reverse;
    }
    #conteneur1
    {
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: white;
    }
    .image1, .image2, .image3, .affich, .image5, .image6
    {
      
     width: 80%;
     height: auto;      
           
    }
    .image1 img, .image2 img, .image3 img, .affich img, .image5 img, .image6 img 
   {
       width: 100;
       height: auto;
   }
    .imagepop
    {
        width: 80%;
        height: auto;
    }
    .imagepop img 
    {
        width: 60%;
        height: auto;
    }
    #conteneur2
    {
        width: 100%;
        height: auto;
    }
    #conteneur3
    {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .foot
    {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
















}