* {
    font-family: 'Raleway', sans-serif;
}
#navigation
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 80px;
  
} 
/*test*/
  
.logo
{
    padding-top: 40px;
    padding-left: 20px;
    
}
.nav12
{
    display: flex;
    margin-left: 700px;
}
/*test2*/

.nav1
{
    
    border-top: #0065FC solid 1px;
    margin-right: 40px;
    padding-top: 60px;
    text-align: center;
}
.nav1 a
{
    margin-right: 40px;
    margin-left: 30px;
    text-decoration: none;
    color: #0065FC;
    font-size: medium;
    font-weight: bold;
}
.nav2
{
    padding-top: 60px;
    text-align: center;
}
.nav2 a
{
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}  
.nav3
{
    padding-top: 60px;
    margin-right: 70px;
}
.nav3 a
{
    text-decoration: none;
    color: #0065FC;
    font-size: medium;
    font-weight: bold;

}     
        
#filtre 
{
  display: flex;
  align-items: center;
  margin-top: 30px;   
  padding-left: 20px;
  font-weight: bold;
  
}
.filtre1
{
    display: flex;
    margin-left: 30px;
}
.filtre2
{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.element1 , .element2 , .element3 , .element4
{
    height: auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-size: large;
    font-weight: 900;
    
    
}

.choix1:hover > .element1
{
    color: #0065FC;
}
.choix2:hover > .element2
{
    color: #0065FC;
}
.choix3:hover > .element3
{
    color: #0065FC;
}
.choix4:hover > .element4
{
    color: #0065FC;
}
.choix1:hover > .picto1
{
    color: white;
    background-color: #0065FC;
}
.choix2:hover > .picto2
{
    color: white;
    background-color: #0065FC;
}
.choix3:hover > .picto3
{
    color: white;
    background-color: #0065FC;
}
.choix4:hover > .picto4
{
    color: white;
    background-color: #0065FC;
}
.choix1 , .choix2 , .choix3 , .choix4
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;    
    align-items: center;
}

.picto1
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    
}
.picto2
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
.picto3
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
.picto4
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
#recherche
{
    display: flex;
    width: 400px ;
    border-radius: 10px;
    padding-left: 20px;
    justify-content: flex-start;    
           
}

.information
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
}
.info
{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}
.icone1
{
    width: 55px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.map 
{
font-size: large;
}
.ville
{
    width: 225px;
    display: flex;
    align-items: center;
    border:   1px solid #F2F2F2;
    padding-left: 15px;
    
    
}
.ville input
{
    border: none;
}


.ville ::placeholder
{    
    font-size: large;
    color: black;
    font-weight: 900; 
        
}
.bouton 
{
    width: 140px;
    height: 55px;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bouton a
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
.bouton2
{
    width: 53px;
    height: 53px;
    border-radius: 15px;
    background-color: #0065FC;
    justify-content: center;
    display: none;
}
.bouton2 a
{
    
    color: white;
    cursor: pointer;
}


.description p
{
     font-size: medium;
     padding-left: 20px;
     margin-top: -10px;
     
}
head p
{
    padding-left: 40px;
}
.description h2
{
    font-size: 20px;
    padding-left: 20px;
    font-weight: 900;
    margin-top: 40px;
}
h3
{
    font-size: large;
    font-weight: 900;
}


#conteneur
{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
#conteneur1
{
   background-color: #F2F2F2; 
   flex: 2;
   height: 650px;
   padding-left: 20px;
   padding-right: 20px; 
   margin-right: 20px;    
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}

.hebergement1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.hebergement2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.image1 img , .image2 img , .image3 img, .image4 img , .image5 img , .image6 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px
    
}
#conteneur1 h2
{
    font-weight: 900;
    font-size: 21px;
    
}

#conteneur1 p
{
   display: flex;
   align-self: start;
   font-weight: 900;
   font-size:large;
}
.image
{
    width:30%;
    height: auto;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 20px; 
     
      
}
.image:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.colorblue
{
    color: #0065FC;
}
.colorgrey
{
    color: #F2F2F2;
}


.comment
{
    width: 90%;
    padding-left: 5px;
    
    
    
    
}
.comment h3
{
    font-size: medium;
    font-weight: 900;
}
.comment p
{
    font-size: small;
    

}
.commentaire h3
{
    font-size: medium;
    font-weight: 900;   
    
}
.commentaire
{
    width: 60%;
    padding-left: 5%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    
}
.ico
{
    font-size: smaller;
    
}
.ic
{
    font-size: smaller;
}
.entete
{
    display: flex;
    justify-content: space-between;
}
.entete h2
{
    font-size: 21px;
    font-weight: 900;
    
}
.blocpop
{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagepop1 , .imagepop2 , .imagepop3
{
    
    height: 150px;
    border: 4px white solid;
    background-color: white;
    border-radius: 20px;
    padding: 1% 0 1% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
    
}

.imagepop1:hover , .imagepop2:hover , .imagepop3:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
  
.pop1 img , .pop2 img , .pop3 img
{
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 10px 0px 0px 10px
    
}
.icone1
{
    font-size: smaller;

}
#conteneur2
{
    background-color: #F2F2F2;
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
    
}
.chart
{
    
    padding-top: 20px;
    font-size: 25px ;
}
  
#conteneur3
{
    
    width: 100%;
    height: 600px;
    margin-top: 100px;
       
    
}
.blocacti
{
    height: auto;
    display: flex;
    justify-content: space-around;
}
      
.activite1 , .activite3
{
    width: 25%;
    height: 400px;        
       
}

#conteneur3 h2
{
    font-size: 21px;
    font-weight: 900;
    
    
}
.activite1 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
    
    
    
}

.activite2 , .activite4
{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.activite2 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}


.activite3 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}
    

.activite4 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}
.actim1
{
    width: 80%;
    height: 100%;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    
    
       
}
.actim1:hover , .actim2:hover, .actim3:hover, .actim4:hover, .actim5:hover, .actim6:hover
{
    cursor: pointer;
    transform: scale(1.2);
}

.actim1 img , .actim4 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.actim2
{
    width: 80%;
    height: 210px;
    
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
}

.actim2 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
      
}
.actim3
{
    width: 80%;
    height: 150px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    margin-top: 40px;
} 

.actim3 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.actim4
{

    width: 80%;
    height: 100%;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    
}


.actim5
{
    width: 80%;
    height: 155px;    
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px; 
}

.actim5 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.actim6
{
    width: 80%;
    height: 200px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px; 
    margin-top: 35px;
}

.actim6 img
{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
   
.foot 
{
    background-color: #F2F2F2;
    height: 300px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;     
       
}   
.foot1
{
    width: 33%;
    height: 150px;
    margin-left: 2%;
    margin-right: 10%;
     
       
}
.foot1 p
{
   font-size: medium;
}

.foot2
{
   width: 33%; 
   height: 150px;
   margin-left: 2%;
   margin-right: 10%;
   
}
.foot2 p
{
  font-size: medium; 
}
.foot3
{
   width: 33%; 
   height: 150px;
   margin-left: 2%;
   margin-right: 10%;
   

}
.foot3 p
{
    font-size: medium;
}










    
    
    
    
    
    
    
    
    
    
    
    
    
    