* {
    font-family: 'Raleway', sans-serif;
}
#navigation
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 80px;
  
} 
  
.logo
{
    padding-top: 40px;
    padding-left: 40px;
    
}
.nav12
{
    display: flex;
    margin-left: 700px;
}

.nav1
{
    
    border-top: #0065FC solid 1px;
    margin-right: 40px;
    padding-top: 60px;
    text-align: center;
}
.nav1 a
{
    margin-right: 40px;
    margin-left: 30px;
    text-decoration: none;
    color: #0065FC;
    font-size: medium;
    font-weight: bold;
}
.nav2
{
    padding-top: 60px;
}
.nav2 a
{
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}  
.nav3
{
    padding-top: 60px;
    margin-right: 70px;
}
.nav3 a
{
    text-decoration: none;
    color: #0065FC;
    font-size: medium;
    font-weight: bold;

}     
        
#filtre 
{
  display: flex;
  align-items: center;
  margin-top: 30px;
  
  
  padding-left: 40px;
  font-weight: bold;
  
}
.filtre1
{
    display: flex;
    margin-left: 30px;
}
.filtre2
{
    display: flex;
}

.element1  
{
    height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
}
.element2
{
    height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;

}
.element3
{
    height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
}
.element4
{
    height: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
}
.choix1:hover > .element1
{
    color: #0065FC;
}
.choix2:hover > .element2
{
    color: #0065FC;
}
.choix3:hover > .element3
{
    color: #0065FC;
}
.choix4:hover > .element4
{
    color: #0065FC;
}
.choix1:hover > .picto1
{
    color: white;
    background-color: #0065FC;
}
.choix2:hover > .picto2
{
    color: white;
    background-color: #0065FC;
}
.choix3:hover > .picto3
{
    color: white;
    background-color: #0065FC;
}
.choix4:hover > .picto4
{
    color: white;
    background-color: #0065FC;
}
.choix1
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choix2
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choix3
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choix4
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.picto1
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    
}
.picto2
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
.picto3
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
.picto4
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}   
#recherche
{
    display: flex;
    width: 400px ;
    border-radius: 10px;
    padding-left: 40px;
    justify-content: flex-start;
    
    
        
}

.information
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 40px;
}
.info
{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}
.icone1
{
    width: 55px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.map 
{
font-size: large;
}
.ville
{
    width: 220px;
    display: flex;
    align-items: center;
    border:   1px solid #F2F2F2;
    padding-left: 15px;
    
    
}
.ville input
{
    border: none;
}


.ville ::placeholder
{
    
    
    font-size: large;
    color: black;
    font-weight: 900;
  
     
    
}
.bouton 
{
    width: 140px;
    height: 55px;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bouton a
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
.bouton2
{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #0065FC;
    justify-content: center;
    display: none;
}
.bouton2 a
{
    
    color: white;
    cursor: pointer;
}


.description p
{
     font-size: medium;
     padding-left: 40px;
     margin-top: -10px;
     
}
head p
{
    padding-left: 40px;
}
.description h2
{
    font-size: 20px;
    padding-left: 40px;
    font-weight: 900;
    margin-top: 40px;
}
h3
{
    font-size: large;
    font-weight: 900;
}
.element1, .element2, .element3, .element4
{
    font-size: large;
    font-weight: 900;
}
#conteneur
{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    
}
#conteneur1
{
    background-color: #F2F2F2; 
    width: 800px;
   height: 650px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   margin-top: 20px;
   border-radius: 15px 15px 15px 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}

.hebergement
{
    display: flex;
    flex-direction: column;
}
.image1 img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img
{
    width: 230px;
    height: 120px;
}
.hebergement h2
{
    font-weight: 900;
    font-size: 21px;
    
}
.afficher
{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-left: -10px;
}
.affichermob
{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: auto;
    margin-right: 20px;
}
.affichermob h3
{
    display: none;
}
.afficher h3
{
    margin-top: 35px;
}
#conteneur1 p
{
   display: flex;
   align-self: start;
}
.image1
{
    
    width: 230px;
    height: 220px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
      
    
}
.image1:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.image2
{
    width: 230px;
    height: 220px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top:  62px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image2:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.image3
{
    width: 230px;
    height: 220px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 62px;
    margin-right: 5px;

}
.image3:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.affich
{
    width: 230px;
    height: auto;
}
.affichmob 
{
    width: 230px;
    height: auto;
}

.image4
{
    width: 230px;
    height: 220px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image4 .comment 
{
    margin-top: -20px;
}
.image4:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.colorblue
{
    color: #0065FC;
}
.colorgrey
{
    color: #F2F2F2;
}

.image5
{
    width: 230px;
    height: 220px;
    border: 4px white solid;
    margin-right: -15px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image5:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.image6
{
    width: 230px;
    height: 220px;
    margin-left: 17px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image6:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.comment
{
    padding-left: 10px;
    
}
.comment h3
{
    font-size: medium;
    font-weight: 900;
}
.comment p
{
    font-size: small;
    

}
.commentaire h3
{
    font-size: medium;
    font-weight: 900;
    
    
}
.commentaire p
{
    font-size: small;
    padding-right: 20px;
    margin-right: -20px;
    
}
.ico
{
    font-size: smaller;
    
}
.ic
{
    font-size: smaller;
}
.entete
{
    display: flex;
    justify-content: space-between;
}
.entete h2
{
    font-size: 21px;
    font-weight: 900;
    padding-top: 20px;
}

.imagepop
{
    width: 290px;
    height: 130px;
    border: 4px white solid;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    
    
}

.imagepop:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
  
.imagepop img
{
    width: 130px;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 35px;
}
.icone1
{
    font-size: smaller;

}
.image1 img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image2 img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }   
 .image3 img
 {
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 .image4 img
 {
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 .image5 img
 {
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
 .image6 img
 {
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }
  

 #conteneur2
 {
    background-color: #F2F2F2;
    width: 375px;
    height: 650px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 5px;
    padding-top: 15px;
    margin-top: 20px;
    
    
}
.chart
{
    padding-top: 30px;
    padding-right:  80px; ;
    font-size: 25px ;
}
  
#conteneur3
{
    
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
    
    
}
      
.activite1
{
    width: 250px;
    height: 400px;
       
    
    
}
.activite1 h2
{
    font-size: 21px;
    font-weight: 900;
}
.activite1 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
    
    
    
}

.activite2
{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.activite2 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}

.activite3
{
    width: 250px;
    height: 400px;
}
.activite3 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}
.activite4
{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.activite4 p
{
    font-size: medium;
    font-weight: 900;
    margin-left: 5%;
}
.actim1
{
    width: 250px;
    height: 360px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    margin-top: -5px;
       
}
.actim1:hover
{
    cursor: pointer;
    transform: scale(1.2);
}

.actim1 img
{
    width: 250px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.actim2
{
    width: 250px;
    height: 210px;
    margin-top: 57px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
}
.actim2:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.actim2 img
{
    width: 250px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
      
}
.actim3
{
    width: 250px;
    height: 140px;
    margin-top: 57px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    margin-top: 40px;
} 
.actim3:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.actim3 img
{
    width: 250px;
    height: 75px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.actim4
{

    width: 250px;
    height: 360px;
    margin-top: 57px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    
}
.actim4:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.actim4 img
{
    width: 250px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.actim5
{
    width: 250px;
    height: 145px;
    margin-top: 57px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px; 
}
.actim5:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.actim5 img
{
    width: 250px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.actim6
{
    width: 250px;
    height: 200px;
    border: 4px white solid;
    box-shadow: 6px 6px 6px #F2F2F2 ;
    border-radius: 15px 15px 15px 15px; 
    margin-top: 35px;
}
.actim6:hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.actim6 img
{
    width: 250px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
   
.foot 
{
    background-color: #F2F2F2;
    height: 200px;
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
    
    
    
}

    
.foot1
{
    width: 33%;
    height: 150px;
    margin-left: 2%;
    margin-right: 10%;
    
    
    
    
}
.foot1 p
{
   font-size: medium;
}

.foot2
{
   width: 33%; 
   height: 150px;
   margin-left: 2%;
   margin-right: 10%;
   
}
.foot2 p
{
  font-size: medium; 
}
.foot3
{
   width: 33%; 
   height: 150px;
   margin-left: 2%;
   margin-right: 10%;
   

}
.foot3 p
{
    font-size: medium;
}










    
    
    
    
    
    
    
    
    
    
    
    
    
    